html {
  scroll-behavior: smooth;
  font-size: 16px;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1440px;
  align-items: center;
  margin: auto;
  overflow-x: hidden;
  z-index: 0;
}
:root {
  --text-color-bright: #f0f4f5;
  --text-color-dark: #263343;
  --back-ground-color: ;
  --accent-color: #d49488;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
h1 {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}
h3 {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.25rem;
  color: var(--text-color-bright);
}
li {
  list-style: none;
  color: var(--text-color-dark);
}
p, a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color-dark);
}
nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
#navbar {
  max-width: 1200px;
  margin: auto;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
#logo {
  width: 225px;
}
#logo h2 {
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  color: var(--text-color-dark);
}
#logo h2:hover {
  background-color: var(--accent-color);
  color: var(--text-color-bright);
  transition: 0.3s;
}
#navbar ul {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}
#navbar li a {
  padding: 0.5rem 1rem;
  margin: 0.75rem 0;
  border-radius: 6px;
  color: var(--text-color-dark);
}
#navbar li a:hover {
  background-color: var(--accent-color);
  color: var(--text-color-bright);
  transition: 0.3s;
}
header {
  height: 1040px;
}
#banner-container {
  position: relative;
  top: 350px;
  display: flex;
  max-width: 1300px;
  height: 250px;
  padding-right: 42px;
  margin-left: 30px;
  justify-content: flex-end;
}
#banner {
  width: 400px;
  display: flex;
  flex-flow: column nowrap; 
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--text-color-bright);
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
}
#welcome {
  position: relative;
  top: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
}
#welcome-container {
  max-width: 1200px;
  margin: auto;
}
#welcome h2, p {
  color: var(--text-color-dark);
  line-height: 1.75rem;
}
#image-container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
}
header #image-container {
  position: absolute;
  top: 50px;
}
header img {
  position: relative;
  object-fit: cover;
  z-index: -10;
}
main {
  margin-top: 50px;
}
#intro,
#plan,
#related,
#lecture {
  position: relative;  
  top: -100px;
}
.main-container {
  position: relative;
  max-width: 1200px;
  margin: 1rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
}
.main-container h2 {
  color: var(--text-color-bright);
  margin: 1rem;
}
.title-container {
  width: 300px;
  margin: 1rem;
}
#plan-header {
  padding-bottom: 2rem;
}
#intro-title,
#plan-title,
#related-title,
#lecture-title {
  width: 300px;
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#intro-title {
  background-color: #044fff;
}
.content-container {
  display: flex;
  width: 800px;
  margin: 1rem;
  padding: 1rem;
}
#intro-content,
#plan-content,
#related-content {
  max-width: 950px;
}
#intro-content h2 {
  color: forestgreen;
  padding: 0.5rem;
}
#plan-title {
  background-color: magenta;
}

#plan-content li,
#plan-content p {
  text-decoration: none;
  line-height: 1.7rem;
  color: var(--text-color-dark);
}
.chapter {
  display: flex;
  flex-flow: row wrap;
}
.chapter-title {
  width: 120px;
}
.small-chapter {
  width: 500px;
}
#related-title {
  background-color: #ffa500;
}
#related-content ul {
  display: flex;
  flex-flow: row nowrap;
}
#related-content ul li {
  padding: 1rem;
}
#related-1 a {
  color: magenta;
}
#related-2 a {
  color: #044fff;
}
#related-3 a {
  color: forestgreen;
}
#related-content ul li a {
  font-size: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  line-height: 2.5rem;
}
#related-content li a:hover {
  border-radius: 6px;
  background-color: var(--accent-color);
  color: var(--text-color-bright);
  transition: 0.3s;
}
#lecture-title {
  background-color: forestgreen;
}
#lecture-title h2, h3 {
  padding: 0;
}
#lecture-content {
  max-width: 1200px;
  margin: 0.75rem;;
  display: flex;
  flex-flow: row wrap;
}
#lecture-content img {
  width: 120px;
  margin: 3px;
}
#lecture-content img:hover {
  transform: scale(0.95);
  transition: 0.3s;
}

footer {
}
footer #image-container img {
  margin-top: 50px;
}
footer p {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 2rem; 
  top: -125px;
  text-align: center;
  color: var(--text-color-dark);
}

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
  }
  #related-content ul {
    flex-flow: column nowrap;
  }
  #intro-title,
  #plan-title,
  #related-title,
  #lecture-title {
    margin-left: 35px;
  }
  #plan-header {
    width: 380px;
    padding-right: 2rem;
  }
}
